<div class="profile disabled-state">
    <div class="feed-link profile-link tag-link">
        <span class="link-inner">
            <div style="height: 20px; width: 0;"></div>
            <div class="tag-visibility-control">
                <%= content_tag :span, '', class: "feed-action-button feed-action-expand" %>
            </div>
            <span class="collection-label-wrap profile-label-color">
                <span class="collection-label" ><%= profile.profile_name %></span>
            </span>
        </span>
    </div>
</div>