<% @title = 'Service Unavailable' %>
<div class="main-content">
    <div class="container">
        <h1 class="sub-page">Service Unavailable</h1>
        <p class="large">Curathor is undergoing maintenance.</p>
    </div>
</div>
