<%= render Settings::ControlRowComponent.new do |row| %>
  <% row.title do %>
    <% if user.deleted? %>
        <span class="line-through"><%= user.email %></span>
    <% else %>
        <span><%= user.email %></span>
    <% end %>
  <% end %>
  <% row.control do %>
    <% unless user.deleted? %>
      <%= link_to "Delete", admin_user_path(user), remote: true, data: { confirm: "Are you sure?" }, method: :delete, class: "!text-red-600" %>
    <% end %>
  <% end %>
<% end %>
